#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 50px;
    border: 2px solid #2e6da4;
    border-radius: 10px;
}

.carousel-height {
    min-height: 220px
}

.btn-padding {
    padding-right: 40px;
    padding-left: 40px;
}

.div-quote {
    padding: 30px;
}

p {
    font-family: 'Playfair Display', serif;
}
    
h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-top: 50px;
   }


.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    /*float: left;*/
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}